*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333642;
}

.list{
    display: flex;
}

li{
    list-style: none;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    display: grid;
    grid-template-rows: 7% 45% 45%;
    grid-gap: 0px;
}

.header{
    height: 100%;
    width: 100%;
    background-color: white;
}

.code{
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
}

.code-editor{
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
}

.code-type {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: fit-content;
    width: 100%;
    background-color: #1A1B1F;
    padding: 10px;
    border-bottom: 1px solid #1c1c1c;
}

.ace_gutter{
    background-color: #1c1c1c !important;
}

.ace_gutter-cell.ace_gutter-active-line.ace_info {
    background-color: #1c1c1c !important;
}

.ace-monokai .ace_gutter-active-line {
    background-color: #1c1c1c !important;
}

.output{
    background-color: #333642;
}

.output-iframe{
    height: 100%;
    width: 100%;
}

.run{
    height: fit-content;
    width: fit-content;
    border-radius: 7px;
    background-color: #2d303a;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 7px 20px;
    margin-left: auto;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    float: right;
    top: 0;
    right: 0;
}

/*.run {
    background-color: #2d303a;
}*/
